form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #044244;
    color: #eeeeee;
}
input{
    padding: 2px;
    margin-right: 4px;
    border-radius: 4px;
}
label{
    margin-right: 4px;
    padding: 2px;
    border-radius: 4px;
}
input[type="submit"]{
    width: 50px;
    height: 30px;
    border-radius: 4px;
    width: 177px;
}
select{
    border-radius: 4px;
    width: 177px;
}