body{
  background-color: #006172;
  color: #e0edf3;
  padding: 0px;
  
}
form{
  background-color: #053841;
  border: solid;
  border-color: #011d22;
  margin: auto;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  max-width: 500px;
}
h1{
  margin-bottom: 20px;
  margin-left: 20px;
}
input, textarea{
  width: 200px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  color: black;
}
textarea{
  width: 900px;
  height: 120px;
  max-width: 400px;
}
input:hover, input:focus{
  border-color: #e0edf3;
  box-shadow: 5px 0px 10px #011d22;
  background-color: #006172;
  color: #e0edf3;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}