<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Cadastro de Veiculo</title>
</head>

<body>
  <form name="cadVeiculo">
    <h1>Insira os dados do Veiculo</h1>

    <input type="text" id="placaId" placeholder="placa do veiculo" required>
    <label for="placa">Placa</label>
    <input type="text" id="modeloId" placeholder="Modelo do veiculo" required>
    <label for="modelo">Modelo</label>
    <input type="number" min="1930" max="2026" step="1" value="2024" id="anoFabricacaoId"
      placeholder="Ano de Fabricação" required #placa>
    <label for="anoFabricacao">Ano de Fabricação</label>
    <input type="number" min="1930" max="2026" step="1" value="2024" id="anoModeloId" placeholder="Ano do modelo"
      required>
    <label for="anoModelo">Ano do Modelo</label>
    <input id="botao" type="submit" onclick="alert('informações inseridas com sucesso')">

  </form>
  <hr>

  <form action="calculo">
    <input type="number" id="" placeholder="insira um número" required name="" #numA>
    <label for="numA"> + </label>
    <input type="number" id="" placeholder="insira um número" required name="" #numB>
    <label for=""> = </label>
    <output name="resultado" for="numAid numBid">XXX</output>
    <input type="submit" (click) = "soma(numA, numB)" value="Calcular">
  </form>
</body>

</html>